<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">URL</th>
      <th scope="col">Image URL</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.url %></td>
        <td><img src=<%= project.img_url %> class="tblImg" alt=""></td>
        <td><%= project.type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
